body {
	font-family: 'Roboto', sans-serif;
	background-color: #f8f9fa;
	color: #343a40;
	margin-left: 10px;
}
.navbar {
	margin-bottom: 20px;
	margin-left: -10px;
}
.container {
	margin-top: 20px;
}
.alert {
	white-space: pre-wrap;
	margin-top: 20px;
	padding: 20px;
}
.alert-danger {
	margin-top: 20px;
}
.form-group {
	margin-bottom: 20px;
}
.navbar a {
	color: white;
	text-decoration: none;
	padding: 10px;
}
.navbar a:hover {
	background-color: #575757;
}
.infocontainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;
}
.info {
	background-color: white;
	border-radius: 5px;
	padding: 20px;
	margin: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	flex: 1;
	min-width: 45%;
	font-size: 0.9em;
}
table {
	width: 100%;
	border-collapse: collapse;
}
table, th, td {
	border: 1px solid #ddd;
}
th, td {
	padding: 10px;
	text-align: left;
}
th {
	background-color: #f2f2f2;
}
button {
	background-color: #333;
	color: white;
	border: none;
	padding: 10px 20px;
	margin: 10px 0;
	cursor: pointer;
	border-radius: 5px;
}
button:hover {
	background-color: #575757;
}
.server-status {
	margin-top: 20px;
	font-size: 1.2em;
}
.servercontrols {
	display: flex;
	flex-direction: row;
}
.servercontrolbutton {
	margin-right: 10px;
}
