body {
	font-family: 'Roboto', sans-serif;
	background-color: rgb(19, 18, 18);
	color: #ffffff;
	margin-left: 10px;
}
.navbar {
	margin-bottom: 20px;
	margin-left: -10px;
}
.container {
	margin-top: 20px;
}
.alert {
	white-space: pre-wrap;
	margin-top: 20px;
	padding: 20px;
}
.alert-danger {
	margin-top: 20px;
}
.form-group {
	margin-bottom: 20px;
}
.navbar a {
	color: white;
	text-decoration: none;
	padding: 10px;
}
.navbar a:hover {
	background-color: #575757;
}
.infocontainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;
}
.info {
	background-color: rgb(70, 70, 70);
	border-radius: 5px;
	padding: 20px;
	margin: 10px;
	box-shadow: 0 0 10px ;
	flex: 1;
	min-width: 45%;
	font-size: 0.9em;
}
.info pre {
	white-space: pre-wrap;
	color: white;
}
table {
	width: 100%;
	border-collapse: collapse;
}
table, th, td {
	border: 1px solid #ddd;
}
th, td {
	padding: 10px;
	text-align: left;
}
th {
	background-color: rgb(70, 70, 70);
}
button {
	background-color: #333;
	color: white;
	border: none;
	padding: 10px 20px;
	margin: 10px 0;
	cursor: pointer;
	border-radius: 5px;
}
button:hover {
	background-color: #575757;
}
.server-status {
	margin-top: 20px;
	font-size: 1.2em;
}
.servercontrols {
	display: flex;
	flex-direction: row;
}
.servercontrolbutton {
	margin-right: 10px;
}
.card-header {
	background-color: rgb(19, 18, 18);
	color: white;
	border-bottom: none;
	border-radius: 10px 10px 0 0;
}
.card-body {
	background-color: rgb(70, 70, 70);
	padding: 30px;
}
.logbuttons {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}
.logbuttons form {
	margin: 0;
	padding: 0;
	vertical-align: top;
}
.logbuttons button {
	margin-right: 10px;
	height: 40px;
}
